*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    
}
/* header and navigation styles */
.name{
   
    margin-bottom: 4%;
    margin-left: 1% ;
    font-weight: 800;
    font-size: 45px;
    display: flex;
}
.header{
    background-color: rgb(247, 207, 207);
    height: 900px;
    background-image: url(../images/PicsArt_23-01-06_15-50-57-107.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}


.banner-discription{
    color: #757575;
    font-size: 18;
    font-weight: 400;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 20px;
    margin-right: 500px;
    text-align: left;
    
}
.image{ 
    width:2%
   
  
    
}



.text-primary{
    color: palevioletred

}
nav li {
    list-style: none;
    margin-left: 50px;
   
 

}
nav ul {
    display: flex;
    align-items: center;
    margin-right: 1%;
    

   
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px200px;


}
.main-buttom{
    height: 64px;
    border-radius: 5px;
    background: palevioletred;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    margin-left: 1%;
    margin-bottom: 500px;
}
.pink-buttom{
    height: 64px;
    border-radius: 5px;
    background: palevioletred;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}
/*banner styles*/
banner{
   margin: 0px 200px;
   align-items:center;
   display: flex;
  
}

.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-top: 16%;
    margin-left: 1%;

  
   
   
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    margin-left: 1%;
   
   

}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
    
}
header{
    max-width: 2000px;
    margin: 0 auto;
    border-radius: 10px;
    padding: 130px 150px;
    

}

/* about section styles */
.about{
    margin-top: 130px;
    background: rgb(247, 207, 207);
    border-radius: 10px;
    padding: 130px 150px;
    

}
.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;

}
.section-description{


color: #757575;
font-size: 18px;
margin-bottom: 30px;

}